html,
body {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  font-weight: 500;
  body {
    background: linear-gradient(
      45deg,
      rgba(4, 9, 40, 1) 0%,
      rgba(11, 29, 97, 1) 17%,
      rgba(13, 34, 119, 1) 34%,
      rgba(9, 40, 139, 1) 50%,
      rgba(13, 34, 119, 1) 67%,
      rgba(11, 29, 97, 1) 84%,
      rgba(4, 9, 40, 1) 100%
    );
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3c3f42 transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #3c3f42;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3c3f42;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #3c3f42;
}
