html,
body {
  scroll-behavior: smooth;
  font-weight: 500;
  body {
    background-image: linear-gradient(
      to right top,
      #18181b,
      #1b1b1e,
      #1d1d20,
      #202023,
      #232326,
      #232326,
      #232326,
      #232326,
      #202023,
      #1d1d20,
      #1b1b1e,
      #18181b
    );
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.1);
}
[data-slate-editor] [data-slate-placeholder] {
  color: #d4d4d8;
  opacity: 0.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-size: medium;
  font-family:
    Libre Fraklin,
    system-ui,
    sans-serif;
}
